/* Coolors Exported Palette - coolors.co/5dd9c1-fde74c-9bc53d-c3423f-404e4d */

// Multi-colored
/* HSL */
$color1: hsla(168%, 62%, 61%, 1);
$color2: hsla(53%, 98%, 65%, 1);
$color3: hsla(79%, 54%, 51%, 1);
$color4: hsla(1%, 52%, 51%, 1);
$color5: hsla(176%, 10%, 28%, 1);

/* RGB */
$color1a: rgba(93, 217, 193, 1);
$color2a: rgba(253, 231, 76, 1);
$color3a: rgba(155, 197, 61, 1);
$color4a: rgba(195, 66, 63, 1);
$color5a: rgba(64, 78, 77, 1);

/* Coolors Exported Palette - coolors.co/008080-0a2239-53a2be-1d84b5-132e32 */
// Shades of blue
/* HSL */
$color6: hsla(180%, 100%, 25%, 1);
$color7: hsla(209%, 70%, 13%, 1);
$color8: hsla(196%, 45%, 54%, 1);
$color9: hsla(199%, 72%, 41%, 1);
$color10: hsla(188%, 45%, 14%, 1);

/* RGB */
$color6a: rgba(0, 128, 128, 1);
$color7a: rgba(10, 34, 57, 1);
$color8a: rgba(83, 162, 190, 1);
$color9a: rgba(29, 132, 181, 1);
$color10a: rgba(19, 46, 50, 1);

body {
  margin: 0;
  padding: 0;
}

div div {
  width: 20%;
  height: 400px;
  display: inline-block;
  margin: auto -2px;
}

#palette1 {
  div:nth-child(1) {
    background-color: $color1;
  }
  div:nth-child(2) {
    background-color: $color2;
  }
  div:nth-child(3) {
    background-color: $color3;
  }
  div:nth-child(4) {
    background-color: $color4;
  }
  div:nth-child(5) {
    background-color: $color5;
  }
}

#palette2 {
  div:nth-child(1) {
    background-color: $color6;
  }
  div:nth-child(2) {
    background-color: $color7;
  }
  div:nth-child(3) {
    background-color: $color8;
  }
  div:nth-child(4) {
    background-color: $color9;
  }
  div:nth-child(5) {
    background-color: $color10;
  }
}
